// .Header{
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 60px;
//     background-color: #161616;
//     z-index: 100;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0 20px;
//     border-bottom: 0.5px solid #cccccc84;
//       &_link{
//           display: flex;
//       }
  
//       &_WorkwizTop {
//           margin-left: 10rem;
//           cursor: pointer;
//       }
  
//       &_right {
//           display: flex;
//           align-items: center;
//           margin-left: auto;
//           margin-right: 1rem;
  
//           &_item {
//               display: flex;
//               align-items: center;
//               margin-right: 10rem;
//               &_link {
//                   color: #ffffff;
//                   margin-right: 50px;
//                   text-decoration: none;
//                   font-size: 18px;
//                   font-weight: 500;
//               }
//               &_buttonSpace {
//                   margin-right: 20px !important;
//                   &_button{
//                       background-color: #fff !important;
//                       border: 2px solid #027FFE !important;
//                       color: #027FFE !important;
//                       font-weight: 600 !important;
//                       &:hover {
//                           background-color: #027FFE !important;
//                           color: #fff !important;
//                           font-weight: 600 !important;
//                       }
//                   }
//               }
//           }
//       }
//   }

  // SCSS
.Header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1; // 適切な値に設定してください
    // ...他のスタイル
  }
  
  .Header_right {
    position: relative;
    // ...他のスタイル
  }
  
  .Header_right_item {
    position: absolute;
    top: 0;
    right: 0;
    // ...他のスタイル
  }
  
  .Sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 66.67vw;
    height: 100vh;
    background: #ffffff;
    // ...他のスタイル
  }
  