$header-padding: 10px;
$sidebar-width: 66.66vw;
$sidebar-background: #bababad5;
$link-margin: 1em;
$overlay-z-index: 999;
$sidebar-z-index: 1000;

.Header {
  position: relative;

  &_right {
    position: absolute;
    top: $header-padding;
    right: $header-padding;
  }
}

.Hamburger {
  padding: $header-padding;
  background: transparent;
  border: none;
  cursor: pointer;
}

.Link {
  display: block;
  margin-bottom: $link-margin;
}

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: $sidebar-width;
  background-color: $sidebar-background;
  z-index: $sidebar-z-index;
  padding: $header-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.MenuItems {
  a {
    margin: $link-margin 0;
    text-decoration: none;
    color: black;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: $overlay-z-index;
}
