$header-padding: 10px;
$sidebar-width: 70vw;
$sidebar-background: #6e6e6ede;
$link-margin: 1em;
$overlay-z-index: 999;
$sidebar-z-index: 1000;

.Header {
  position: relative;

  &_right {
    position: absolute;
    top: $header-padding;
    right: $header-padding;
  }
}

.Hamburger {
  padding: $header-padding;
  background: transparent;
  border: none;
  cursor: pointer;
}

.Link {
  display: block;
}

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: $sidebar-width;
  background-color: $sidebar-background;
  z-index: $sidebar-z-index;
  padding: $header-padding;
  flex-direction: column;
  justify-content: space-around;
}

.MenuItems {
  margin-top: 110px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 500;
  a {
    margin: 50px;
    text-decoration: none;
    color: #ffffff;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: $overlay-z-index;
}

.Header_right_item_buttonSpace_button {
  font-weight: 600 !important;
}
