@import '../public/globals.module';

.Top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1.2rem;
    height: 75vh;
    &_Contents{
      &_Logo {
        margin-bottom: 2.5rem;
      }
    }
    h1 {
      text-align: center;
      text-align: left;
      font-size: 1.1rem;
    }
  }
  
  